@model SalesBudget.Models.ViewModels.ProductGroupViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <br />
    <h2 class="text-primary">ProductGroup List</h2>
</div>

<div class="row d-inline-flex">
    <div class="col">
        <a asp-action="Upsert" class="btn btn-primary float-end"><i class="fas fa-plus"></i> &nbsp; Create New ProductGroup</a>
    </div>
    <div class="col">
        <a class="btn btn-success float-end" onClick="document.location.reload(true)"><i class="fas fa-sync-alt"></i> &nbsp; Refresh page</a>
    </div>
    <div class="col">
        <a asp-controller="OtherTables" asp-action="Index" class="btn btn-warning float-end"><i class="fas fa-backspace"></i> Back to List</a>
    </div>
</div>



<br />
<table class="table table-striped table-bordered table-hover" id="table">
    <thead>
        <tr>
            <th>
                ProductGroupCode
            </th>
            <th>
                ProductGroupAcronym
            </th>
            <th>
                ProductGroupName
            </th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.RecordsList)
        {
            <tr>

                <td id="data">
                    @Html.DisplayFor(modelItem => item.ProductGroupCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductGroupAcronym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductGroupName)
                </td>


                <td>
                    <a asp-action="Upsert" asp-route-id="@item.ProductGroupId" class="btn btn-primary" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    @*<a href="#" onclick="ConfirmDelete(@item.ProductGroupId)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@
                </td>
            </tr>
        }

    </tbody>

</table>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete ProductGroup</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this ProductGroup?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteProductGroup()">Confirm</a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" asp-for="ProductGroup.ProductGroupId" id="hiddenBudgetId" />
<br />
<br />




@section Scripts
{
    <script>

        var ConfirmDelete = function (ProductGroupId) {

            $("#hiddenBudgetId").val(ProductGroupId);
            $("#myModal").modal('show');

        }

        var DeleteProductGroup = function () {

            var bdgId = $("#hiddenBudgetId").val();

            $.ajax
                ({
                    type: "POST",
                    url: "/Admin/productGroup/Delete/",
                    data: { Id: bdgId },
                    success: function (result) {
                        $("#myModal").modal("hide");
                        $("#row_" + bdgId).remove();
                        window.location.reload();
                    }
                })
        }
    </script>
}