@model SalesBudget.Models.ViewModels.BudgetViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <input type="hidden" asp-for="FBudget.BudgetId" />
}


<br />
<h1 class="text-primary">Monthly Details</h1>


<br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Decription
            </th>
            <th>
                Curr
            </th>
            <th>
                FoC
            </th>
            <th>
                UM
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.ItemMaster.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Currency)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.FreeOfCharge)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.UnitOfMeasure)
            </td>
        </tr>
    </tbody>
</table>


<br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Jan
            </th>
            <th>
                Feb
            </th>
            <th>
                Mar
            </th>
            <th>
                Apr
            </th>
            <th>
                May
            </th>
            <th>
                Jun
            </th>
            <th>
                Jul
            </th>
            <th>
                Ago
            </th>
            <th>
                Sept
            </th>
            <th>
                Oct
            </th>
            <th>
                Nov
            </th>
            <th>
                Dec
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Total by Months
            </th>
        </tr>
    </thead>
    @*Suddivisione in mesi*@
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Jan)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Feb)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Mar)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Apr)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.May)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Jun)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Jul)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Ago)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Sept)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Oct)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Nov)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.Dec)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.FBudget.TotalMonths)
            </td>
        </tr>
    </tbody>
</table>


<div>
    <a asp-action="EditMonthDetail" asp-route-id="@Model.FBudget.BudgetId" class="btn btn-primary" target="_blank"><i class="fas fa-edit"></i> Edit</a>
</div>

<br />

@*<input class="btn btn-danger" value="Close page" onClick="window.close()">*@
<a class="btn btn-danger" onClick="window.close()"><i class="fas fa-times"></i> Close page</a>
<a class="btn btn-success float-end" onClick="document.location.reload(true)"><i class="fas fa-sync-alt"></i> &nbsp; Refresh page</a>


<br />
<br />




