@*@model SalesBudget.Models.FBudget*@
@model SalesBudget.Models.ViewModels.BudgetViewModel

@{
    var title = "Create Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.FBudget.BudgetId != 0)
        {
            <input type="hidden" asp-for="FBudget.BudgetId" id="hiddenBudgetId" />
            title = "Edit Budget";
        }

        <div class="col-12">
            <br />
            <h2 class="text-primary">@title</h2>
        </div>

        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.Year"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(model => model.FBudget.Year,
                            Enumerable.Range(2010, DateTime.Now.Year - 2000).
                            Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
                            "--Select Year--", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.FreeOfCharge"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(modelItem => modelItem.FBudget.FreeOfCharge,
                        new[]
                            {
                                new SelectListItem { Text = "Y", Value = "Y" },
                                new SelectListItem { Text = "N", Value = "N" },
                            },

                         new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.Currency"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(modelItem => modelItem.FBudget.Currency,
                        new[]
                            {
                                new SelectListItem { Text = "USD", Value = "USD" },
                                new SelectListItem { Text = "CHF", Value = "CHF " },
                            },

                         new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.UnitPrice"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FBudget.UnitPrice" id="unitprice" class="form-control" />
                    <span asp-validation-for="FBudget.UnitPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.MonthNr"></label>
                </div>
                @*<div class="col-8">
                    <input asp-for="FBudget.MonthNr" class="form-control" />
                    <span asp-validation-for="FBudget.MonthNr" class="text-danger"></span>
                </div>*@
                <div class="col-8">
                    @Html.DropDownListFor(modelItem => modelItem.FBudget.MonthNr,
                        new[]
                            {
                                new SelectListItem { Text = "1", Value = "1" },
                                new SelectListItem { Text = "2", Value = "2" },
                                new SelectListItem { Text = "3", Value = "3" },
                                new SelectListItem { Text = "4", Value = "4" },
                                new SelectListItem { Text = "5", Value = "5" },
                                new SelectListItem { Text = "6", Value = "6" },
                                new SelectListItem { Text = "7", Value = "7" },
                                new SelectListItem { Text = "8", Value = "8" },
                                new SelectListItem { Text = "9", Value = "9" },
                                new SelectListItem { Text = "10", Value = "10" },
                                new SelectListItem { Text = "11", Value = "11" },
                                new SelectListItem { Text = "12", Value = "12" },
                            },

                         new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />

        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.UnitOfMeasure"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(modelItem => modelItem.FBudget.UnitOfMeasure,
                        new[]
                            {
                                new SelectListItem { Text = "KG", Value = "KG" },
                                new SelectListItem { Text = "UN", Value = "UN " },
                            },

                         new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.Quantity"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FBudget.Quantity" id="amount" class="form-control" />
                    <span asp-validation-for="FBudget.Quantity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />


        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.ItemMasterId"></label>
                </div>
                <div class="col-8">
                    @*Parameter1: what I want to save in the db
                        Parameter2: actual list of items (dropdown menu)
                        Parameter3: default that I see in the dropdown
                        Parameter4: classes that I want to add*@
                    @Html.DropDownListFor(m => m.FBudget.ItemMasterId,
                                            Model.ItemDescriptionList,
                                            "-- Please Select an Item --",
                                            new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.CompanyId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.FBudget.CompanyId,
                                            Model.CompanyList,
                                            "-- Please Select a Company--",
                                            new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.LedgerTypeId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.FBudget.LedgerTypeId,
                                            Model.LedgerScenarioList,
                                            "-- Please Select a Scenario--",
                                            new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FBudget.CustomerId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.FBudget.CustomerId,
                                            Model.CustomerList,
                                            "-- Please Select a Customer--",
                                            new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.FBudget.BudgetId != 0)
                    {
                        //Edit a close
                        <partial name="_EditAndBackToListButton" model="Model.FBudget.BudgetId" />
                    }
                    else
                    {
                        //Create e close
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>


    </div>
</form>

<br />
<br />


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Budget</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Edit this Budget?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="EditBudget()">Confirm</a>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    @*Rimuovo gli "0" dai campi*@
    <script>
        $(document).ready(function () {
            if (document.getElementById('amount').value == "0") {
                document.getElementById('amount').value = '';
            }
        });

        $(document).ready(function () {
            if (document.getElementById('quantitykg').value == "0") {
                document.getElementById('quantitykg').value = '';
            }
        });

        $(document).ready(function () {
            if (document.getElementById('unitprice').value == "0") {
                document.getElementById('unitprice').value = '';
            }
        });

        $(document).ready(function () {
            if (document.getElementById('programid').value == "0") {
                document.getElementById('programid').value = '';
            }
        });
    </script>

}



