@model SalesBudget.Models.ViewModels.CompanyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-6">
        <br />
        <h2 class="text-primary">Company List</h2>
    </div>
    <div class="col-6">
        <a asp-action="Upsert" class="btn btn-primary float-end" target="_blank"><i class="fas fa-plus"></i> &nbsp; Create New Company</a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <a class="btn btn-success float-end" onClick="document.location.reload(true)"><i class="fas fa-sync-alt"></i> &nbsp; Refresh page</a>
    </div>
</div>

<br />
<div class="row">
    <div class="col-12">
        <a asp-controller="OtherTables" asp-action="Index" class="btn btn-warning float-end"><i class="fas fa-backspace"></i> Back to List</a>
    </div>
</div>




    <br />
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>
                    CompanyName
                </th>
                <th>
                    Acronym
                </th>
                <th>
                    CurrencyBase
                </th>
                <th>
                    CurrencyGroup
                </th>
                <th>
                    Operative
                </th>

            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.RecordsList)
            {
                <tr>

                    <td id="data">
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acronym)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrenyGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Operative)
                    </td>


                    <td>
                        <a asp-action="Upsert" asp-route-id="@item.CompanyId" class="btn btn-primary" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        @*<a href="#" onclick="ConfirmDelete(@item.CompanyId)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@
                    </td>
                </tr>
            }

        </tbody>

    </table>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete Company</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to Remove this Company?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteCompany()">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" asp-for="Company.CompanyId" id="hiddenBudgetId" />
    <br />
    <br />



    @section Scripts
{
        <script>

            var ConfirmDelete = function (CompanyId) {

                $("#hiddenBudgetId").val(CompanyId);
                $("#myModal").modal('show');

            }

            var DeleteCompany = function () {

                var bdgId = $("#hiddenBudgetId").val();

                $.ajax
                    ({
                        type: "POST",
                        url: "/Admin/company/Delete/",
                        data: { Id: bdgId },
                        success: function (result) {
                            $("#myModal").modal("hide");
                            $("#row_" + bdgId).remove();
                            window.location.reload();
                        }
                    })
            }
        </script>
    }
