@model SalesBudget.Models.ViewModels.BudgetViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*_________________________________________________FILTER_BY___________________________________________________*@
<form method="post" asp-controller="Budget" asp-action="Filter">

    <div class="row">
        <div class="col-6">
            <br />
            <h2 class="text-primary">Filter by</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="dropdown">
                <label><b>Company</b></label>
                @*Parameter1: ciò che voglio salvare nel db
                Parameter2: lista di ciò che apaprirà nel menu a tendina
                Parameter3: valore visualizzato di default nella tendina
                Parameter4: classi che voglio aggiungere*@
                @Html.DropDownListFor(m => m.FBudget.CompanyId,
                                        Model.CompanyList,
                                        "--Select Company--",
                                        new { @class = "form-control" })
            </div>
            <br />
            <div class="dropdown">
                <label><b>Customer</b></label>
                @Html.DropDownListFor(m => m.FBudget.CustomerId,
                                        Model.CustomerList,
                                        "--Select Customer--",
                                        new { @class = "form-control" })
            </div>
            <br />
        </div>
        <div class="col">
            <div class="dropdown">
                <label><b>Licensing Area</b></label>
                @Html.DropDownListFor(m => m.FBudget.Customer.LicensingArea,
                                        Model.LicensingAreaList,
                                        "--Select Licensing Area--",
                                        new { @class = "form-control" })
            </div>
            <br />
            <div class="dropdown">
                <label><b>Year</b></label>
                @Html.DropDownListFor(m => m.FBudget.Year,
                                        Model.YearsList,
                                        "--Select Year--",
                                        new { @class = "form-control" })
            </div>
            <br />
        </div>
        <div class="col">
            <div class="dropdown">
                <label><b>Product Group</b></label>
                @Html.DropDownListFor(m => m.FBudget.ItemMaster.ProductGroupId,
                                        Model.ProductGroupList,
                                        "--Select Product Group--",
                                        new { @class = "form-control" })
            </div>
            <br />
            <div class="dropdown">
                <label><b>Pharma Form</b></label>
                @Html.DropDownListFor(m => m.FBudget.ItemMaster.PharmaFormId,
                                        Model.PharmaFormList,
                                        "--Select Pharma Form--",
                                        new { @class = "form-control" })
            </div>
            <br />
        </div>
        <div class="col">
            <div class="dropdown">
                <label><b>Currency</b></label>
                @Html.DropDownListFor(modelItem => modelItem.FBudget.Currency,
                                        Model.CurrencyList,
                                        "--Select Currency--",
                                        new { @class = "form-control" })
            </div>
            <br />
            <div class="dropdown">
                <label><b>Scenario</b></label>
                @Html.DropDownListFor(m => m.FBudget.LedgerTypeId,
                                        Model.LedgerScenarioList,
                                        "--Select Scenario--",
                                        new { @class = "form-control" })
            </div>
            <br />
        </div>
        <div>
            <button type="submit" class="btn btn-primary float-end btn-lg"><i class="fas fa-search"></i> Find</button>
        </div>
    </div>
</form>
<hr />
@*________________________________________________END_FILTER_BY___________________________________________________*@




<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Budget List</h2>
    </div>
    <div class="col-6">
        <a asp-action="Upsert" class="btn btn-primary float-end" target="_blank"><i class="fas fa-plus"></i> &nbsp; Create New Budget</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @*<input class="btn btn-success disabled float-end" value="Refresh page" onClick="document.location.reload(true)">*@
        <a class="btn btn-success float-end" onClick="document.location.reload(true)"><i class="fas fa-sync-alt"></i> &nbsp; Refresh page</a>
    </div>
</div>

@*<div class="col-12">
        <a asp-action="ShowAll" class="btn btn-primary float-end">Show All Records</a>
    </div>
    <br />*@

<br />
<table class="table table-striped table-bordered table-hover" id="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Decription
            </th>
            <th>
                Curr
            </th>
            <th>
                FoC
            </th>
            <th>
                UM
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total amount
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.RecordsList)
        {
        <tr>

            <td id="data">
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemMaster.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeOfCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>


            <td>
                <a asp-action="Upsert" asp-route-id="@item.BudgetId" class="btn btn-primary" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="#" onclick="ConfirmDelete(@item.BudgetId)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                <a asp-action="MonthlyDetails" asp-route-id="@item.BudgetId" class="btn btn-success" target="_blank"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                <button class="copy-btn btn btn-primary"><i class="far fa-copy" aria-hidden="true"></i></button>
                <a asp-action="BudgetRevision" asp-route-id="@item.BudgetId" class="btn btn-dark" target="_blank"><i class="fas fa-check-double"></i></a>
            </td>
        </tr>
        }

    </tbody>

</table>


<button class="btn btn-primary float-end" onclick="copytable('table')"><i class="far fa-copy" aria-hidden="true"></i> Copy whole table</button>

@*__________________________________________END_CLASSIC_TABLE_____________________________________________________*@

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Budget</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this Budget?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteBudget()">Confirm</a>
            </div>
        </div>
    </div>
</div>


@*hidden field for storing current BudgetId*@
<input type="hidden" asp-for="FBudget.BudgetId" id="hiddenBudgetId" />

<br />
<br />


@section Scripts
{
    <script>

        var ConfirmDelete = function (BudgetId) {

            $("#hiddenBudgetId").val(BudgetId);
            $("#myModal").modal('show');

        }

        var DeleteBudget = function () {

            var bdgId = $("#hiddenBudgetId").val();

            $.ajax
                ({
                    type: "POST",
                    url: "/Admin/budget/Delete/",
                    data: { Id: bdgId },
                    success: function (result) {
                        $("#myModal").modal("hide");
                        $("#row_" + bdgId).remove();
                        window.location.reload();
                    }
                })
        }



        //Copy a row
        $(".copy-btn").click(function () {
            var success = true,
                range = document.createRange(),
                selection;
            var pid = $(this).parent().parent().text();

            var tmpElem = $('<div>');
            tmpElem.css({
                position: "absolute",
                left: "-1000px",
                top: "-1000px",
            });
            // Add the input value to the temp element.
            tmpElem.text(pid);
            $("body").append(tmpElem);
            // Select temp element.
            range.selectNodeContents(tmpElem.get(0));
            selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            // Lets copy.
            try {
                success = document.execCommand("copy", false, null);
            }
            catch (e) {
                copyToClipboardFF(input.val());
            }
            if (success) {
                alert("Row successfully copied to clipboard.");
                // remove temp element.
                tmpElem.remove();
            }
        });

        function copyToClipboardFF(text) {
            window.prompt("Copy to clipboard: Ctrl C, Enter", text);
        }


        //Copy the whole table
        function copytable(el) {
            var urlField = document.getElementById(el)
            var range = document.createRange()
            range.selectNode(urlField)
            window.getSelection().addRange(range)
            document.execCommand('copy')

            try {
                success = document.execCommand("copy", false, null);
            }
            catch (e) {
                copytable(input.val());
            }
            if (success) {
                alert("Table successfully copied to clipboard.");
            }

        }

    </script>
}