@model SalesBudget.Models.ViewModels.BudgetViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">All Rows</h2>
    </div>
</div>


<br />
<table class="table table-striped table-bordered" id="">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Decription
            </th>
            <th>
                Curr
            </th>
            <th>
                FoC
            </th>
            <th>
                UM
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total amount
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.RecordsList)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemMaster.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FreeOfCharge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>


                @*<td class="btn-group">*@
                <td>
                    <a asp-action="Upsert" asp-route-id="@item.BudgetId" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href="#" onclick="ConfirmDelete(@item.BudgetId)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    <a asp-action="MonthlyDetails" asp-route-id="@item.BudgetId" class="btn btn-success"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                    @*<a asp-action="Copy" asp-route-id="@item.BudgetId" class="btn btn-primary"><i class="far fa-copy" aria-hidden="true"></i></a>*@
                </td>
            </tr>
        }

    </tbody>

</table>

@*__________________________________________END_CLASSIC_TABLE_____________________________________________________*@

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Budget</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this Budget?</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteBudget()">Confirm</a>
            </div>
        </div>
    </div>
</div>


@*hidden field for storing current BudgetId*@
<input type="hidden" asp-for="FBudget.BudgetId" id="hiddenBudgetId" />


@section Scripts
{
    <script>
        var ConfirmDelete = function (BudgetId) {

            $("#hiddenBudgetId").val(BudgetId);
            $("#myModal").modal('show');

        }

        var DeleteBudget = function () {

            var bdgId = $("#hiddenBudgetId").val();

            $.ajax
                ({
                    type: "POST",
                    url: "/Admin/budget/Delete/",
                    data: { Id: bdgId },
                    success: function (result) {
                        $("#myModal").modal("hide");
                        $("#row_" + bdgId).remove();
                        window.location.reload();
                    }
                })
        }

    </script>
}